doctype html
html
  head
    title Create Task
  style
  body
    h1 New task
    form(method="POST" action="/tasks")
      <p>Task name:</p>
        input(type="text" name="taskName")
      <p>Task description:</p>
        input(type="text" name="taskDescription")
      <p></p>
      button(type="submit") Create!