doctype html
html
  head
    title Delete Task
  style
  query
    h1 Insert name of task you want to delete
    form(method="GET" action="/tasks")
      <div style=”margin-left:20px;”>Task name</div>
      input(type="text" name="taskName")
      <p></p>
        button(type="submit") Delete!