doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Task Manager
  body
    h1 Task Manager 1.0
    ul
      each task in tasks
        li #{task.id} #{task.taskName}  
          a(href='tasks/' + task.id) Check task
    ul
    a(href="create") <p>Create task</p>
    a(href="update") <p>Update task</p>
    a(href="delete") <p>Delete task</p>