doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{taskName}
  style
  body
    ul
      each task in tasks
        li #{task.id} #{task.taskName}  
          a(href='tasks/' + task.id) Check task
    ul

    a(href="/") Back