doctype html
html
  head
    title Update Task
  style
  body
    h1 Change your information about task
    form(method="PUT" action="/tasks")
      <div style=”margin-left:20px;”>Any old data from task:</div>
      input(type="text" name="oldName")
      <div style=”margin-left:20px;”>New name:</div>
      input(type="text" name="taskName")
      <div style=”margin-left:20px;”>New description:</div>
      input(type="text" name="taskDescription")
      <p></p>
      button(type="submit") Update Task!