doctype html
html
  head
    title Welcome to Task Manager! 
  style
  body
    h1 Log in the system
    form(method="GET" action="/users")
      <p>Login:</p>
        input(type="text" name="login")
      <p>Password:</p>
        input(type="text" name="password")
      <p></p>
      button(type="submit") Create!